[package]
name = "patternfly-yew"
version = "0.3.0"
authors = ["Jens Reimann <jreimann@redhat.com>"]
edition = "2021"
license = "Apache-2.0"
description = "PatternFly 4 components for Yew"
repository = "https://github.com/ctron/patternfly-yew"
categories = ["wasm", "web-programming", "gui"]
keywords = ["yew", "patternfly", "web", "html"]
readme = "README.md"
rust-version = "1.60"

[dependencies]
chrono = { version = "0.4", features = ["wasmbind"] }
gloo-events = "0.1.2"
gloo-timers = "0.2.4"
gloo-utils = { version = "0.1.6", features = ["serde"]}
js-sys = "0.3"
log = "0.4"
serde = "1"
serde_json = "1"
strum = "0.24"
strum_macros = "0.24"
uuid = { version = "1", features = ["v4", "js"] }
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
yew = "0.20"
yew-nested-router = { version = "0.0.3", optional = true }

web-sys = { version = "0.3", features = [
    "HtmlCollection",
    "NodeList",
    "DomRect",
    "DomTokenList",
    "HtmlSelectElement",
    "HtmlOptionElement",
    "HtmlOptionsCollection",
    "Touch",
    "TouchEvent",
    "TouchList",
] }

[features]
default = ["router"]
router = ["yew-nested-router"]

[patch.crates-io]
#yew-nested-router = { path = "../yew-nested-router" }
#yew-nested-router = { git = "https://github.com/ctron/yew-nested-router", rev = "9bfba658e85d035fc45989290d3cc1b67c3f12a5" }
